
.Container{
    background: url("../../assets/Team/Teampage.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 9%;
    padding-bottom: 18%;
    background-attachment: fixed;
}

.Litepaper{
    color:white;
    display: flex;
    align-items: center;
    margin:0 10%;
    margin-top: 70px;
    justify-content: space-between;
}

.Gaming_Economics{
    color:white;
    display: flex;
    align-items: center;
    margin:0 10%;
    margin-top: 300px;
    justify-content: space-between;
}

.WatchVideo{
    color:white;
    display: flex;
    align-items: center;
    margin:0 10%;
    justify-content: space-between;
    margin-top: 300px;
}

.LitepaperImage img{
    height: 460px;
    width: 440px;
}
.VideoImage img{
    height: 408px;
    width: 612px;
}

.GamingEconomicsImage img{
    height: 428px;
    cursor: pointer;
    width: 305px;
}



.Heading{
    font-family: "Futura PT Light";
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: 100;
    line-height: 96px;
}

@media screen and (max-width:640px) {
    .Container{
        padding-bottom: 30%;
    }
    .Heading{
        margin-bottom: -15px;
        font-size: 30px;
        font-weight: 300;
    }
    .Litepaper{
        margin-left: 5%;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }
    .LitepaperImage img{
        margin-top: 51px;
        height: 366px;
        width: 350px;
    }
    .Gaming_Economics{
        margin-top: 150px;
        margin-left: 5%;
        justify-content: flex-start;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .GamingEconomicsImage img{
        width: 350px;
        height: 450px;
        margin-top: 51px;
    }
    .WatchVideo{
        margin-top: 150px;
        flex-direction: column;
    }
    .VideoImage img {
        height: 223px;
        width: 334px;
    }
}
