.Container{
    background-color: #1A2940;
    padding-top: 6%;
}

.HeroSection{
   background-image: url("../../assets/About/HeroImage.png");
   background-position: center center; 
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5% 0;
}

.Heading{
    font-family: 'Chewer';
    font-weight: 400;
    font-size: 60px;
    font-stretch: extra-ex;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #E4D49B;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BAA044 0%, rgba(186, 160, 68, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transform: rotate(-0.22deg);
}

.subHeading{
    color: #BAA044;
    font-family: 'Futura';
    margin-top: 1%;
    font-weight: 500;
    font-size: 40px;
}

.Group{
    margin-top: 2%;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Futura';
    color:#D8D7D7;
}

.Group div{
    margin-left:20px;
    opacity: 0.8;
}

.Line{
    margin-top: 1%;
}

.btnGroup{
    display: flex;
    color:#D8D7D7;
    margin-top: 1%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.DownloadPaper{
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.DownloadPaper span{
    margin-right: 10px;
}
.playVideo span{
    margin-left: 10px;
    opacity: 0.8;
}

.playVideo{
    margin-left:40px;
    display: flex;
    align-items: center;
}

.Header{
    font-family: 'Chewer';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin-top:3%;
    color: #D8D7D7;
    opacity: 0.8;
}

.Header2{
    margin-top:2%;
    font-family: 'Futura';
    color: #D8D7D7;
    padding:0 30%;
    opacity: 0.8;
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
}

.IP{
    margin-top:5%;
    margin-left:-1%;
    margin-bottom:10px;
    color:#D8D7D7;
    display: flex;
    justify-content: center;
    font-family: 'Futura';
    font-weight: 500;
    font-size: 20px;
    opacity: 0.8;
}

.Compass{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Compass img{
    width: 40%;
    filter: saturate(120%);
}

.World{
    margin-right:20px;
    color:#D8D7D7;
    font-family: 'Futura';
    font-weight: 500;
    font-size: 20px;
    opacity: 0.8;
}

.Network{
    margin-left:20px;
    color:#D8D7D7;
    font-family: 'Futura';
    opacity: 0.8;
    font-weight: 500;
    font-size: 20px
}

.Genesis{
    color:#D8D7D7;
    display: flex;
    margin-top:10px;
    margin-left:-1%;
    opacity: 0.8;
    justify-content: center;
    font-family: 'Futura';
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width:640px){
    .Container{
        padding-top: 20%;
    }
    .Heading{
        font-size: 50px;
    }
    .subHeading{
        font-size: 30px;
    }
    .Header2{
        padding: 0 2%;
        font-size: 16px;
        margin-top: 5%;
    }
    .Compass img{
        width: 70%;
    }
    .World{
        font-size: 14px;
        margin: 5px 0;
        text-align: center;
        margin-left: 10px;
    }
    .Network{
        font-size: 14px;
        text-align: center;
        margin: 5px 0;
    }
    .IP, .Genesis{
        font-size: 14px;
    }
    .Line{
        margin: 5% 0;
    }
}