.Container{
    background-color: #1A2940;
    position: relative;
    min-height: 100vh;
}

.starDust{
    position: absolute;
    top:0;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 50;
    /* height: 100%; */
}
.starDust img{
    width: 70%;

}
.stars{
    width: 100%;
    position: absolute;
    top:-15%;
    left:0;
    /* background-size: cover; */
}

.heading{
    color:white;
    font-family: 'Roboto', sans-serif;
    margin-top: -10%;
    text-align: center;
    font-size: 41px;
    font-weight: 400;
}
.Body{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    padding: 0 25%;    
    font-size: 18px;
    font-weight: 200;
    line-height:31px;
}

.Footer{
    font-family: 'Roboto', sans-serif;
    color: #E2C45B;
    font-weight: 400;
    font-size: 14px;
    padding-top:5% ;
    padding-bottom:3%;
    padding-left:4%;
}

.BrahmandLogo{
    position: absolute;
    top:11%;
    left:34%;
    z-index: 100;
    font-family: 'Chewer';
    font-weight: 400;
    font-size: 85px;
    font-stretch: extra-ex;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #E4D49B;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BAA044 0%, rgba(186, 160, 68, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transform: rotate(-0.22deg);
}

.spacing{
    padding-top: 55%;
}

.textLayer1{
    position: absolute;
    top:16%;
    left:0;
    width: 100%;
    display: flex;
    /* background-color: aqua; */
    padding: 0% 12%;
    justify-content: space-between;
}
.textLayer2{
    position: absolute;
    top:27%;
    left:0;
    width: 100%;
    display: flex;
    /* background-color: aqua; */
    padding-left: 23%;
    padding-right: 17%;
    justify-content: space-between;
}

.textLayer3{
    position: absolute;
    top: 34%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot{
    background: #F5F5F5;
    height:5px;
    width: 5px;
    border-radius: 50%;
}

.text{
    font-size: 18px;
    font-family: "Futura";
    font-weight: 500;
    margin-left:10px;
    color: #F5F5F5;
}

.textWrap{
    display: flex;
    align-items: center;
}

@media screen and (min-width:1550px) and (max-width:1960px) {
    .textLayer1{
        padding-right:12%;
        padding-left:11%;
    }
    .textLayer2{
        padding-left: 21%;
    }
    .textLayer3{
        top:36.5%;
    }
}
