.Container{
    background-color: #1A2940;
    position: relative;
    min-height: 100vh;
}

.heading{
    color:#D8D7D7;
    font-family: 'Roboto', sans-serif;
    margin-top: -5%;
    text-align: center;
    font-size: 41px;
    font-weight: 400;
    opacity: 0.8;
}
.Body{
    color: #D8D7D7;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    opacity: 0.8;
    padding: 0 25%;    
    font-size: 18px;
    font-weight: 200;
    line-height:31px;
}


.btnGroup{
    display: flex;
    justify-content: center; 
    margin-top:5%;
}

.litepaper{
    background: linear-gradient(180deg, #BAA044 27.6%, rgba(186, 160, 68, 0) 100%);
    border-radius: 3px;
    border:none;
    color:hsl(0, 1%, 85%);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 12px 20px;
    gap: 10px;
    cursor: pointer;
}
.learnMore{
    cursor: pointer;
    margin-left:30px;
    border-radius: 3px;
    background: none;
    padding: 12px 30px;
    color:#D8D7D7;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border:2px solid #A18739;
}

@media only screen and (max-width:640px){
    .Container{
        padding-top: 20%;
    }
    .heading{
        margin-top: 10%;
        font-size: 30px;
    }
    .Body{
        padding: 0 5%;
        text-align: justify;
    }
}