.Container {
  position: absolute;
  top: 1%;
  left: 0%;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1% 7%;
  justify-content: space-between;
}

.Logo {
  height: 32px;
  cursor: pointer;
}

.Logo img {
  width: 160px;
  height: 32px;
  margin-left: 0%;
}

.Link {
  /* padding:1% 0; */
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: aqua; */
}
.ActiveLink {
  font-family: "Futura";
  color: #b89e5c;
  font-weight: 400;
  font-size: 16px;
  margin-right: 45px;
  padding-bottom: 5px;
  opacity: 0.8;
  text-decoration: underline;
}
.InactiveLink {
  font-family: "Futura";
  color: #b89e5c;
  font-weight: 400;
  font-size: 16px;
  margin-right: 45px;
  opacity: 0.8;
  text-decoration: none;
}

.HomePageActiveLink {
  font-family: "Futura";
  color: #b89e5c;
  font-weight: 400;
  font-size: 16px;
  margin-right: 45px;
  padding-bottom: 5px;
  text-decoration: underline;
}
.HomePageInactiveLink {
  font-family: "Futura";
  color: #b89e5c;
  font-weight: 400;
  font-size: 16px;
  margin-right: 45px;
  text-decoration: none;
}

.Link a:hover {
  text-decoration: underline;
}

.ComingSoon {
  width: 149px;
  height: 35px;
  font-size: 14px;
  font-family: "Futura";
  font-weight: 500;
  color: #b89e5c;
  cursor: pointer;
  background: none;
  border: 1px solid #b89e5c;
  opacity: 0.9;
  border-radius: 4.27402px;
}

.HamburgerIcon {
  display: none;
}

/* @media only screen and (min-width: 1280px) and (max-width: 1680px) {
  .Logo {
    position: absolute;
    top: 10px;
    left: 30px;
  }

  .Logo img {
    width: 64px;
    height: 10px;
  }
} */

@media screen and (max-width: 640px) {
  .Link {
    display: none;
  }

  .Container {
    top: 3%;
    padding: 0% 5%;
  }

  .Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Logo img {
    /* margin-top: -23%; */
    width: 100px;
    height: 100px;
  }

  .HamburgerIcon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .ComingSoon {
    display: none;
  }
}
