.Container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(226, 196, 91, 0.53) 0%, rgba(49, 67, 115, 0.15) 100%);
    z-index: 100;
    display: flex;
    padding:2% 20%;
    justify-content: space-between;
}

.logo img{
    width: 180px;
}

.Links{
    display: flex;
}
.link{
    font-family: 'Futura';
    color: #E2C45B;
    margin-left:25px;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
}
