.Footer{
    display: flex;
    align-items: center;
    margin-top: -100px;
    padding:25px 0;
    flex-direction: column; 
}

.Socials{
    font-family: "Futura PT";
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    font-weight: 500;
    color: #B89E5C;
    font-size: 14px;

}
.socialGrp{
    display: flex;
    margin-left: 2%;
}

.socialGrp img{
    margin-right: 10px;
}

.Community{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.Text{
    font-family: "Futura PT";
    opacity: 0.8;
    font-size: 14px;
    font-weight: 500;
    margin-left:3%;
    color: #B89E5C;;
}

@media only screen and (min-width: 1280px) and (max-width: 1680px) {
    .Community{
        width: 40%;
    }
}

@media screen and (max-width:640px){
    .Footer{
        margin-top: -90px;
    }
    .Socials{
        /* margin-left: -20%; */
        width: 100%;
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
    .Community{
        width: 100%;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        /* text-align: center; */
    }
    .socialGrp img {
        width: 15px;
        height: 15px;
    }
    .Text{
        font-size: 12px;
    }
}