.Footer {
    background-color: #1A2940;
    color: #E2C45B;
    font-weight: 400;
    padding-top:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community{
    font-family: 'Futura';
    opacity:0.8;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}

.Socials img{
    margin-left:20px;
}

.tagline{
    margin: 1% 0;
    display: flex;
    width: 100%;
    text-align: center;
    opacity:0.8;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

.dot{
    height:10px;
    width:10px;
    background-color: #E2C45B;
    border-radius: 50%;
}
.text{
    margin-left: 10px;
    font-size: 14px;
}

@media only screen and (max-width:640px) {
    .Footer{
        padding: 10% 0;
        /* display: none; */
    }
}